@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: var(--background-color);
}

body {
    font-family: 'Inter', sans-serif !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--text-color) !important;
}
